<!DOCTYPE HTML>
<html>
    <head>
        <title>I Love Mercurial</title>
    </head>
    <body>
        <h1>I LOVE MERCURIAL</h1>
        <div id="links">
            <ul>
                <li><a href="http://hginit.com">Learn about Mercurial</a></li>
                <li><a href="http://tortoisehg.bitbucket.org">Get Mercurial</a></li>
                <li><a href="http://kilnhg.com">Get Free Hosting</a></li>
            </ul>
        </div>
        <div id="tweets">
            <ul>
                {% for tweet in tweets %}
                <li>
                    <img src="{{ tweet.image }}" alt="{{ tweet.user }} avatar "/>{{ tweet.user }} says "{{ tweet.text }}"
                </li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>
