<!DOCTYPE HTML>
<html>
    <head>
        <title>I Love Mercurial</title>
        <link type="text/css" href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
        <link rel='stylesheet' media='screen and (max-width: 775px)' href='{{ url_for('static', filename='mobile.css') }}' />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='ilovemercurial.js') }}"></script>
    </head>
    <body>
      <div class="wrapper">
                <li><a href="http://hginit.com/">Learn about Mercurial</a></li>
                <li><a href="http://mercurial.selenic.com/">Get Mercurial</a></li>
                <li><a href="http://www.fogcreek.com/kiln/">Get Free Hosting</a></li>
        <div id="tweets">
          <h1><a href="/" title="I LOVE MERCURIAL">I <span>LOVE</span> MERCURIAL</a></h1>
          <ul>
            {% for tweet in tweets %}
            <li>
              <p class="meta">
                <a class="avatar" title="{{ tweet.user }}'s Twitter profile" href="http://twitter.com/{{ tweet.user }}/"><img src="{{ tweet.image }}" alt="{{ tweet.user }} avatar "/></a>
                <a class="tweeter" title="{{ tweet.user }}'s Twitter profile" href="http://twitter.com/{{ tweet.user }}/">{{ tweet.user }}</a> 
              </p>
              <p class="tweet-text">
                <span class="speech-thingy"></span>
                {{ tweet.text }}
                <a class="permalink" title="View this tweet on Twitter" href="http://twitter.com/{{ tweet.user }}/status/{{ tweet.id }}">&infin;</a>
              </p>
            </li>
            {% endfor %}
          </ul>
        </div>    
        <div id="links">
          <hr>
          <h2>Resources</h2>
          <ul>
            <li class="first"><a href="http://hginit.com">Learn about Mercurial</a></li>
            <li><a href="http://tortoisehg.bitbucket.org">Get Mercurial</a></li>
            <li class="last"><a href="http://kilnhg.com">Free Mercurial Hosting</a></li>
          </ul>
        </div>
        
        <hr>
        
        <div id="footer">
        </div>
      </div>
    </body>
</html>
